.addTodo {
  margin: 1em;
}

.todoInput {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid black;
  outline: none;
  width: 60vw;
}

.todoButton {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  text-transform: capitalize;
}